.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

/* Стили для каждого продукта */
.product_list {
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    width: 300px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.product_list p {
    font-size: 16px;
    padding: 10px;
    margin: 0;
    background-color: #f9f9f9;
    border-bottom: 1px solid #eee;
    text-align: center;
}

/* Стили для изображений продуктов в слайдере */
.product_list img {
    width: 100%;
    display: block;
    height: auto;
}

/* Стили для слайдера */
.slick-slide {
    outline: none;
}

.slick-dots {
    bottom: -30px;
}

.slick-prev:before, .slick-next:before {
    color: #000;
}