*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body{
    background-color: rgb(240, 240, 240);
}
ul, a, li, button {
    text-decoration: none;
    color: black;
    border: none;
    background: none;
    list-style: none;
}

.wrapper {
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 30px;
}
main{
    background-color: #fff;
}
.header{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    background-color: #fff;

}
.header_search_signRegister{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.header .header_logotip{
    font-size: 30px;
    color: #222;
    font-weight: 700;
    font-family: sans-serif;
}

.header_seacrch{
    display: flex;
    justify-content: center;
    align-items: center;

}
.header_seacrch input{
    height: 28px;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
}
.header_seacrch button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 32px;
    background-color: black;
}
.header .header_signRegister{
    display: flex;
    gap: 5px;
}
.header .header_signRegister a img{
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.categories-container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 30px;
    margin-top: 30px;
    overflow: hidden;
    
}

.categories-slider {
    display: flex;
    gap: 20px;
    transition: transform 0.5s ease-in-out;
    
}

.category { 
    flex: 0 0 auto;
    margin-right: 8px; 
}

.slider-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 15px;
    padding: 5px;
    background-color: #fff;
    color: #929292;
    border: none;
    outline: none;
}

.prev-btn {
    z-index: 15;
    margin-right: 5px;
}

.next-btn {
    z-index: 15;
    margin-left: 5px;
}
.category_header{
    display: flex;
    z-index: 3;
    gap: 7px;
    align-items: flex-end;
}
.categories-container_button{
    display: flex;
    align-items: center;
    background-color: #ffff;
    z-index: 1;
}
.categories-btn{
    transform: rotate(-90deg);
    cursor: pointer;
    color: #929292;
    border: none;
    outline: none;
    background: none;
}

.category:hover .categories-btn{
    transform: rotate(90deg);
    transition: transform 0.4s;
} 

.header_container_categories {
    margin-top: 0;
    max-height: 300px;
    width: 25%;
    overflow-y: auto;
}

.header_categori {
    display: flex;
    align-items: center;
    height: 15px;
    margin-bottom: 10px;
    justify-content: space-between;
    padding-right: 25px;
}
.header_categori span{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #929292;
    font-size: 25px;
    font-family: monospace;
    margin-left: 60px;
}
.header_categori a{
    font-size: medium;
}
.header_container_categories::-webkit-scrollbar {
    width: 4px;
    height: 5px;
}

.header_container_categories::-webkit-scrollbar-thumb {
    background-color: rgb(208, 212, 214);
    border-radius: 4px;
}
.header_container{
    display: flex;
}
.paper{
    height: 25px;
    width: 25px;
}
.header_container_categories h1{
    font-size: 20px;
    line-height: 16px;
    color: #c44a01;
}
.shop_category{
    display: flex;
    align-items: center;
    gap: 5px;
    height: 30px;
    margin-left: 30px;
}
.shop_cart {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 15px 40px;
}
.shop_cart div{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.shop_cart img {
    width: 55px;
    height: 55px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.shop_carts {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    padding-top: 15px;
    padding-left: 15px;
    margin-bottom: 5%;
}

.shop_carts img {
    width: 55px;
    height: 55px;
    margin-bottom: 10px;
    box-sizing: border-box;
}
.shop_category_list h1{
    margin-top: 10px;
    margin-bottom: 20px;
    color: #222;
    font-size: 20px;
    line-height: 16px;

}
.shop_category_cart{
    padding-left: 0.5%;
    width: 50%;
    max-height: 300px;
    overflow-y: auto;
}
.shop_category_cart::-webkit-scrollbar {
    width: 4px;
    height: 5px;
}

.shop_category_cart::-webkit-scrollbar-thumb {
    background-color: rgb(208, 212, 214);
    border-radius: 4px;
}
.shop_carts div{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

footer{
    display: flex;
    background-color: #fafafa;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    height: 409px;
}
.info_support_customer .info_support_customer_one{
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}
.info_support_customer{
    width: 50%;
    font-size: smaller;
}
.contact{
    width: 50%;
}
.one{
    display: flex;
    flex-direction: column;
    color: black;
    gap: 5px;
}
.one a{
    color: #929292;
}
.info_support_customer_two{
    margin-top: 50px;
}
.two span{
    padding-left: 0.5%;
}
.two{
    display: flex;
    flex-direction: column;
}
.two a{
    color: #929292;
    padding-right: 0.5%;
}

.two img{
    left: 0;
    height: 20px;
    width: 20px;
}

.locasia{
    display: flex;
    align-items: center;
}
.two_two{
    display: flex;
    align-items: center;
}

.two_two span{
    margin-right: 0.5%;
}

.two_two a{
    color: #929292;
    padding-right: 0.5%;
}